* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0)), url("HS 1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align text content */
}

.logo {
    color: #fabd02;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px; /* Adjust spacing */
}

span {
    color: white;
}

.text h1 {
    color: #fabd02;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.text p {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.btn, .btntwo {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    background-color: #fabd02;
    padding: 15px 30px;
    border-radius: 25px;
    margin: 0 20px; /* Adjust spacing */
}

.btn:hover, .btntwo:hover {
    background-color: white;
    color: #fabd02;
    transition: background-color 0.3s ease;
}